[submodule "3rdparty/libiconv"]
	path = 3rdparty/libiconv
	url = https://git.savannah.gnu.org/git/libiconv.git
[submodule "3rdparty/Hunspell"]
	path = 3rdparty/Hunspell
	url = https://github.com/hunspell/hunspell.git
[submodule "3rdparty/Dictionaries"]
	path = 3rdparty/Dictionaries
	url = https://anongit.freedesktop.org/git/libreoffice/dictionaries.git
[submodule "3rdparty/matlab2tikz"]
	path = 3rdparty/matlab2tikz
	url = https://github.com/matlab2tikz/matlab2tikz.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib.git
